@import "tailwindcss";


/* Variables que mapearán las variables que expone next/font (usando la opción `variable`) */
:root {
  @theme {
    /* Define Tailwind utility classes that reference your CSS variables */
    --font-main: var(--font-libre);
    --font-serif: var(--font-playfair); 
    /* Example of mapping to a different utility */

    --background-primary: #6A9B6A;
  }
}

@layer utilities {
  .transition-smooth {
    transition: all 0.3s ease-in-out;
  }
}

html {
  scroll-behavior: smooth;
}